body {
    background-image: url(../images/KNwIAXz.jpg);
    background-color: rgb(8, 8, 128);
    background-blend-mode: multiply;
    margin: 20px;
    color: black;
}

h1 {
    color: blue;
}

h2 {
    margin-top: 10px;
}

.header {
    color: white;
}

button {
    margin: 20px;
}

.thumbs {
    width: 400px;
    align: center;
}

.timer {
    color: blue;
}

.results {
    margin: 30px;
}